doctype html
html(lang="en")
	head
		title="google+"
		link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="style.css")
	body 
		img(src="http://i0.kym-cdn.com/photos/images/original/000/975/456/a98.jpg")